@{
    ViewData["Title"] = "Home Page";
}
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaUfndD04ifVSFJ1KH-XhER2nl9c5uFb8&callback=initMap" type="text/javascript" class="map"></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
<environment names="Development">
  <link rel="stylesheet" href="~/css/site.css" />
  <link rel="stylesheet" href="~/css/main.css" />
</environment>
<environment names="Staging,Production">
  <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</environment>


    <nav id="navbar-left" class="navbar-left col-md-2 navbar-fixed-left">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
            <img class="logo" src="css/Trident_logo_small.png">
        </a>
        <div id="accordion">
            <div class="card">
                <div class="card_header_collapse" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" id="headingOne">
                    <h5 class="mb-0">
                        <a class="btn_collapse btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Overzicht
                        </a>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card_body_collapse">
                        <img class="drone_status" src="..\images\ic_status\Groen.png"</img>
                        <p class="item">Rijkswaterstaat</p>
                    </div>
                    <div class="card_body_collapse">
                        <img class="drone_status" src="..\images\ic_status\Oranje.png"</img>
                        <p class="item">Baggeraar</p>
                    </div>
                    <div class="card_body_collapse">
                        <img class="drone_status" src="..\images\ic_status\Rood.png"</img>
                        <p class="item">RDM</p>
                    </div>
                    
                </div>
            </div>
            <div class="card">
                <div class="card_header_collapse" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="headingTwo">
                <h5 class="mb-0">
                    <a class="btn_collapse btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Cloudinputs
                    </a>
                </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card_body_collapse">
                    <img class="drone_status" src="..\images\plus.png"</img>
                    <p class="item">Dienst Toevoegen</p>
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card_header_collapse" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" id="headingThree">
                <h5 class="mb-0">
                    <a class="btn_collapse btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Instellingen
                    </a>
                </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card_body_collapse">
                    <p class="item"></p>
                </div>
                </div>
            </div>
            @await Html.PartialAsync("_LoginPartial")
            <div class="logout_bttn"></div>
        </div>
    </nav>

    <nav id="navbar-top" class="navbar-top col-md-10">
        <div></div>
    </nav>

<div id="map" class="mapbox col-md-9">
  <script>
      function initMap() {
        var rotterdam = {lat: 51.924, lng: 4.477};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: rotterdam
        }); 
        
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function(location, i) {
          return new google.maps.Marker({
            position: location,
            label: labels[i % labels.length]
          });
          marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
        });

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }

      var locations = [
      {lat:51.935619,lng:4.514929},
      {lat:51.917798, lng:4.488589},
      {lat:51.951033, lng:4.482282},
      {lat:51.950801, lng:4.495777},
      {lat:51.898662, lng:4.375207},
      {lat:51.908212, lng:4.377308},
      {lat:51.902552, lng:4.379888},
      {lat:51.902375, lng:4.537289},
      {lat:51.909450, lng:4.516217},
      {lat:51.897601, lng:4.484467},
      {lat:51.904115, lng:4.491420},
      {lat:51.912619, lng:4.572288},
      {lat:51.909035, lng:4.460737},
      {lat:51.935860, lng:4.456737},
      {lat:51.931790, lng:4.486630},
      ]

      var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
            '<div id="bodyContent">'+
            '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
            'sandstone rock formation in the southern part of the '+
            'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
            'south west of the nearest large town, Alice Springs; 450&#160;km '+
            '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
            'features of the Uluru - Kata Tjuta National Park. Uluru is '+
            'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
            'Aboriginal people of the area. It has many springs, waterholes, '+
            'rock caves and ancient paintings. Uluru is listed as a World '+
            'Heritage Site.</p>'+
            '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
            'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+
            '(last visited June 22, 2009).</p>'+
            '</div>'+
            '</div>';

      var infowindow = new google.maps.InfoWindow({
          content: contentString,
          maxWidth: 200
        });
        
    </script>
</div>
<div class="row col-md-9">
    <div class="fleet col-md-3">
        <h2 class="fleet_title">Vloot</h2>
        <div class="normal">
            <p>Rijkswaterstaat</p>
            <img class="status_ball" src="..\images\ic_status\Groen.png">
            <p class="text_right">Zwak Signaal</p>
        </div>
        <div class="grey">
            <p>Baggeraar</p>  
            <img class="status_ball" src="..\images\ic_status\Groen.png">      
            <p class="text_right">Uploaden</p>
        </div>
        <div class="normal">
            <p>RDM</p>         
            <img class="status_ball" src="..\images\ic_status\Rood.png">      
            <p class="text_right">Uitgeschakeld</p>
        </div>
        
    </div>
    <div class="client col-md-5">
        <h2 class="client_title">Klanten</h2>
        <div class="grey">
            <p>Rijkswaterstaat</p>
            <img class="status_ball" src="..\images\ic_status\Groen.png">      
            <p class="text_right">Online</p>
        </div>
        <div class="normal">
            <p>Baggeraar</p>
            <img class="status_ball" src="..\images\ic_status\Rood.png">      
            <p class="text_right">Offline</p>
        </div>
        <div class="grey">
            <p>RDM</p>
            <img class="status_ball" src="..\images\ic_status\Groen.png"> 
            <p class="text_right">Online</p>
        </div>
        <div class="normal">
            <p>Neptune</p>
            <img class="status_ball" src="..\images\ic_status\Rood.png">      
            <p class="text_right">Offline</p>
        </div>
        <div class="grey">
            <p>TU Delft</p>
            <img class="status_ball" src="..\images\ic_status\Rood.png"> 
            <p class="text_right">Offline</p>
        </div>
    </div>
</div>
