@{
    ViewData["Title"] = "Home Page";
}
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaUfndD04ifVSFJ1KH-XhER2nl9c5uFb8&callback=initMap" type="text/javascript" class="map"></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
<environment names="Development">
  <link rel="stylesheet" href="~/css/site.css" />
  <link rel="stylesheet" href="~/css/main.css" />
</environment>
<environment names="Staging,Production">
  <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</environment>


    <nav id="navbar-left" class="navbar-left col-md-2 navbar-fixed-left">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
            <img class="logo" src="css/Trident_logo_small.png">
        </a>
        <div id="accordion">
            <div class="card">
                <div class="card_header_collapse" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" id="headingOne">
                    <h5 class="mb-0">
                        <a class="btn_collapse btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Overzicht
                        </a>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card_body_collapse">
                        <img class="drone_status" src="..\images\ic_status\Groen.png"</img>
                        <p class="item">Rijkswaterstaat</p>
                    </div>
                    <div class="card_body_collapse">
                        <img class="drone_status" src="..\images\ic_status\Oranje.png"</img>
                        <p class="item">Baggeraar</p>
                    </div>
                    <div class="card_body_collapse">
                        <img class="drone_status" src="..\images\ic_status\Rood.png"</img>
                        <p class="item">RDM</p>
                    </div>
                    
                </div>
            </div>
            <div class="card">
                <div class="card_header_collapse" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="headingTwo">
                <h5 class="mb-0">
                    <a class="btn_collapse btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Cloudinputs
                    </a>
                </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card_body_collapse">
                    <img class="drone_status" src="..\images\plus.png"</img>
                    <p class="item">Dienst Toevoegen</p>
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card_header_collapse" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" id="headingThree">
                <h5 class="mb-0">
                    <a class="btn_collapse btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Instellingen
                    </a>
                </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card_body_collapse">
                    <p class="item"></p>
                </div>
                </div>
            </div>
            @await Html.PartialAsync("_LoginPartial")
            <div class="logout_bttn"></div>
        </div>
    </nav>

    <nav id="navbar-top" class="navbar-top col-md-10">
        <div></div>
    </nav>

<div id="map" class="mapbox col-md-9">
  <script>
      function initMap() {
                  console.log("begin of Initmap!")

        var rotterdam = {lat: 51.924, lng: 4.477};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: rotterdam
        }); 
        
        setMarkers(map,locations)

      }

    function setMarkers(map,locations){
        console.log("setmarker!")
        var marker, i

        for (i = 0; i < locations.length; i++){  
            var lat = locations[i][0]
            var long = locations[i][1]
            var name = locations[i][2]
            var client =  locations[i][3]
            var task =  locations[i][4]
            var data =  locations[i][5]
                    console.log("after ininialise in for loop!")

            latlngset = new google.maps.LatLng(lat, long);

            var marker = new google.maps.Marker({  
                map: map,
                title: name,
                position: latlngset  
            });
            map.setCenter(marker.getPosition())

                    console.log("after set markers")

            var content = "<strong><h5>" + name +  '</h5></strong>' + client +"<br>" + task + "<br>" + data    
                    console.log("after content!")

            var infowindow = new google.maps.InfoWindow()

            google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){ 
                return function() {
                infowindow.setContent(content);
                infowindow.open(map,marker);
                };
            })(marker,content,infowindow)); 
                    console.log("end!")

        }
    }

      var locations = [
      [51.935619, 4.514929, "Naam: Drone 1", "Beheerder: Rijkswaterstaat","Taak: Zuurgraatmeting", "Laatste waarde: pH 7.3"],
      [51.917798, 4.488589, "Naam: Drone 2", "Beheerder: Baggeraar","Taak: Dieptemeting", "Laatste waarde: 13 meter"],
      [51.951033, 4.482282, "Naam: Drone 3", "Beheerder: Havenbedrijf Rotterdam","Taak: Kadekwaliteit", "Laatste waarde: 6"],
      [51.950801, 4.495777, "Naam: Drone 4", "Beheerder: Rijkswaterstaat","Taak: Zuurgraatmeting", "Laatste waarde: pH 6.8"],
      [51.898662, 4.375207, "Naam: Drone 5", "Beheerder: Havenbedrijf Rotterdam","Taak: Dieptemeting", "Laatste waarde: 9 meter"]
      ]
        
    </script>
</div>
<div class="row col-md-9">
    <div class="fleet col-md-3">
        <h2 class="fleet_title">Vloot</h2>
        <div class="normal">
            <p>Rijkswaterstaat</p>
            <img class="status_ball" src="..\images\ic_status\Groen.png">
            <p class="text_right">Zwak Signaal</p>
        </div>
        <div class="grey">
            <p>Baggeraar</p>  
            <img class="status_ball" src="..\images\ic_status\Groen.png">      
            <p class="text_right">Uploaden</p>
        </div>
        <div class="normal">
            <p>RDM</p>         
            <img class="status_ball" src="..\images\ic_status\Rood.png">      
            <p class="text_right">Uitgeschakeld</p>
        </div>
        
    </div>
    <div class="client col-md-5">
        <h2 class="client_title">Klanten</h2>
        <div class="grey">
            <p>Rijkswaterstaat</p>
            <img class="status_ball" src="..\images\ic_status\Groen.png">      
            <p class="text_right">Online</p>
        </div>
        <div class="normal">
            <p>Baggeraar</p>
            <img class="status_ball" src="..\images\ic_status\Rood.png">      
            <p class="text_right">Offline</p>
        </div>
        <div class="grey">
            <p>RDM</p>
            <img class="status_ball" src="..\images\ic_status\Groen.png"> 
            <p class="text_right">Online</p>
        </div>
        <div class="normal">
            <p>Neptune</p>
            <img class="status_ball" src="..\images\ic_status\Rood.png">      
            <p class="text_right">Offline</p>
        </div>
        <div class="grey">
            <p>TU Delft</p>
            <img class="status_ball" src="..\images\ic_status\Rood.png"> 
            <p class="text_right">Offline</p>
        </div>
    </div>
</div>
