body{
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    background-color: #f7f6f6;
    overflow-x: hidden;
    overflow-y: hidden; 
}

.body-content{
    padding: 0px !important;
}

#accordion{
    height: 100vh;
}

.navbar-brand {
    color: white;
    background-color: #00739e; 
    width: 100%;
    padding-bottom: 70px;
    padding-top: 50px;
    margin-bottom: 20px;
}

.logo{
    position:absolute;
    top:25px;
    left: 20px;
}

.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover{
    width:220px;
}

.logout_bttn{
    background-image: url("icon-signout.png");
    width:24px;
    height:24px;
    position:absolute;
    bottom:10px;
    left:200px;
}

.headerTitle{
    width: 100%;
}

.navbar-left-login{
    background-color: #0088ba;
    width: 100%;
    padding-bottom: 3%;
    padding-top: 3%;   
    padding-left: 0px !important;
    padding-right: 0px !important;
    position: absolute;
    bottom: 0;
}

.navbar-login-link{
    color: white;

}

.navbar-login-link2{
    color: white;

}

.navbar-left{
    height: 100vh;
    padding-left: 0px !important;
    padding-right: 0px !important;
    background-color: #00739e;
}
.navbar-top{
    top:0 !important;
    left:240px;
    height: 8.6em;
    width:100%;
    padding-left: 0px !important;
    padding-right: 0px !important;
    background-color: #00739e;
    position: absolute;
    background-image: url("Drone-BG.png");
}

.card_body_collapse{
    color: white;
    background-color: #30353d;
    width: 100%;
    padding-left: 8%;
    padding-top: 7%;
    padding-bottom: 2%;  
}

.card_header_collapse{
    width: 100%;
    padding-left: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 6%;
    background-color: #0088ba;   
}

.btn_collapse{
    color: white;
} 

.dropdown_arrow {
    float: right;
    margin-right: 2%;
}

.card-login{
    width: 100%;
    padding-left: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 6%;
    background-color: #0088ba;
}

.card_header_collapse .btn_collapse:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e253";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: white;         /* adjust as needed */
}
.card_header_collapse .btn_collapse.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e252";    /* adjust as needed, taken from bootstrap.css */
}

.btn-link:focus, .btn-link:hover {
    color: white;
    text-decoration: unset;
    background-color: transparent;
}

.drone_status {
    float: left;
    margin-right: 5%;
}

.mapbox{
    width:79%;
    height:35vh;
    background-color: #30353d;
    top: 150px;
    left:270px;
    float: right;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
    position: absolute;
}

.map{
    height:100%;
    width:100%;
}

.fleet{
    width:36.5%;
    background-color: #FFFFFF;
    float:left;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
    padding: 0px !important;
    margin: 0px !important;
}

.client{
    width:40%;
    background-color: #FFFFFF;
    float:right;
    margin-left: 50px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
    padding: 0px !important;
}
.row{
    width:100%;
    height:40vh;
    top: 500px;
    left:270px;
    display: flex;
    position:absolute;
}

.login-area{
    width: 50%;
    height: 100vh;
    background-color: #0189b8;
    color: white;
    padding-left: 5%;
    padding-right: 5%;

}

.btn-login{
    width: 220px;
    height: 50px;
    background-color: transparent;
    border: 0px;
    margin-top: 4%;
}

.login_btn_image{
    width: 100%;
    height: 100%;
}

.forgot-password-btn{
    color: white;
}

.trident-logo{
    width: 60%;
    margin-top: 20%;
    margin-bottom: 10%;
    background-color: transparent;
}

.form-control{
    border-radius: 25px;
    height: 50px;
}

.login_image{
    width: 50%;
    padding: 0px !important;
    margin: 0px !important;
    height: 100vh;
}

.forgot-password-btn{
    margin-left: 2%;
    text-decoration: underline;
}

.grey{
    background-color: rgba(216,216,216,0.34);
    padding-top: 5px;
    padding-bottom: 5px;
}
.normal{
    padding-top: 5px;
    padding-bottom: 5px;
}

p{
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #30353D;
}

h2{
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #00749C;
    
}

.status_ball{
    float: right;
    padding-right: 10px;
}
.text_right{
float: right;
padding-right: 10px;
}

.client_image{
    width:60%;
    height:15vh;
}

.item{
    color:white;
}
